
@{
    ViewBag.Title = "About";
}
<!-- Page Content -->
<div class="container">

    <div class="row">

        @*Kategoriler*@
        <div class="col-md-3">
            @Html.Partial("_PartialCategories")
        </div>

        <div class="col-md-7 col-md-offset-1">
           
            <div class="row">
                <h1 class="text-center">Hakkımda</h1>
                <br />
                <hr />
                <img src="http://placehold.it/500x200" class="center-block img-responsive img-rounded img-thumbnail" />
                <br />
                <hr />
                <p>
                    deneme deneme deneme deneme deneme deneme deneme deneme deneme deneme deneme
                    deneme deneme deneme deneme deneme deneme deneme deneme deneme deneme deneme
                    deneme deneme deneme deneme deneme deneme deneme deneme deneme deneme deneme
                    deneme deneme deneme deneme deneme deneme deneme deneme deneme deneme deneme
                    deneme deneme deneme deneme deneme deneme deneme deneme deneme deneme deneme
                    deneme deneme deneme deneme deneme deneme deneme deneme deneme deneme deneme
                    deneme deneme deneme deneme deneme deneme deneme deneme deneme deneme deneme
                    deneme deneme deneme deneme deneme deneme deneme deneme deneme deneme deneme
                </p>
            </div>

        </div>

    </div>

</div>



